<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/profile.css" />
</head>

<body>
  <!-- Navbar -->
  <%- include('./partials/navbar.ejs') %>
  <!-- End of navbar -->

  <div class="jumbotron jumbotron-fluid d-flex align-items-center profile" id="newslettercontent">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-10 text-left">
          <a href="/profile">
            <button type="button" class="btn btn-sm btn-warning"><strong>BACK TO PROFILE</strong></button>
          </a>
          <br>
          <h1>Change Password</h1>
          <form action="/profile/changePassword?_method=PATCH" method="POST">
            <div class="errorLog">
              <% if(validateError) { %>
              <%= validateError %>
              <% } %>
            </div>
            <div class="form-group row">
              <label for="oldPassword" class="col-md-3 col-form-label">Old Password</label>
              <div class="col-md-6">
                <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                  placeholder="Old Password">
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-3 col-form-label">New Password</label>
              <div class="col-md-6">
                <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
              </div>
            </div>
            <div class="form-group row">
              <label for="repeatPassword" class="col-md-3 col-form-label">Re-type New Password</label>
              <div class="col-md-6">
                <input type="password" class="form-control" id="repeatPassword" name="repeatPassword"
                  placeholder="Re-type New Password">
              </div>
            </div>
            <button type="submit" class="btn btn-success editProfileSubmit"
              id="editProfileSubmit"><strong>ENTER</strong></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <%- include('./partials/navigation.ejs') %>
  <!-- Navigation -->
  <!-- Footer -->
  <%- include('./partials/footer.ejs') %>
  <!-- End of Footer -->
  </div>

  <%- include('./partials/bootstrapScripts.ejs') %>
</body>

</html>